$font: 'Ubuntu', sans-serif;
$size-font-menu: 0.875em;
$size-logo: 1.875em;
$header-color: #626262;
$header-hover: #000;
$header-top-margin: 4.375em;
$header-width: 100%;
$photodiary-color: #b4ad9e;

* {
	font-family: $font;
	list-style: none;
	text-decoration: none;
	max-width: 1920px;
	margin: auto;
}
.container {
	max-width: 1024px;
	width: 100%;
}
//====NAVIGATION====//
nav {
	position: relative;
	font-size: $size-font-menu;
	font-weight: bold;
	margin-top: $header-top-margin;
	width: $header-width;
}

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.nav-item a {
	color: $header-color;
}

.nav-item:first-child a {
  font-size: $size-logo;

}

.nav-item a:hover {
	color: $header-hover;
}

//====Home-image====//
article {
	display:flex;
	justify-content: center;
}

article img {
	max-width: 100%; 
	display:block; 
	height: auto;
}

//==NEXT-page==//
.photodiary {
	margin-top: 5.000em
}
.photodiary section {
	max-width: 100%;
	padding: 0em 1.875em 0em 1.875em;
}

.photodiary section p {
		line-height: 1.5;
}

.photodiary section p:nth-child(1) {
	color: $photodiary-color;
	font-size: $size-font-menu;
}

.photodiary section p:nth-child(2) {
	color: $header-color;
	font-size: $size-logo;
	margin-top: 30px;
}

.photodiary section p:nth-child(3) {
	color: $header-color;
	font-size: $size-font-menu;
	margin-top: 45px;
}